#!/usr/bin/make -f
DH_VERBOSE = 1

%:
	dh $@ -D${DEB_HOST_ARCH}

override_dh_auto_configure:
	debian/patch
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	debian/patch -R
